<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Backoffice Zombieland</title>
  <link rel="stylesheet" href="/css/reset.css">
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <header>
    <nav>
      <a class="lien-menu" href="/admin/">Menu principal</a>
      <a href="/admin/attractions">Gérer les attractions</a>
      <a href="/admin/reservations">Gérer les réservations</a>
      <a href="/admin/users">Gérer les utilisateurs</a>
      <a href="/admin/logout" class="logout-btn">Déconnexion</a>    
    </nav>
  </header>
